* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, input, ul, li, button {
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
  list-style-type: none;
}

.container {
  max-width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.nav__wrap {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

.nav__titile {
  color: #000;
  font-size: 36px;
  font-weight: 400;
}
.nav__titile span {
  color: #8F95A5;
  font-size: 36px;
  font-weight: 400;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 240px;
}

.nav__link__links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__link__links a {
  color: #263238;
  font-size: 20px;
  font-weight: 500;
}

.nav__link--btn {
  padding: 17px 54px;
  border-radius: 5px;
  border: 2px solid #263238;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.hiden--img {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .nav__link {
    margin-left: 168px;
    gap: 140px;
  }
  .nav__link__links {
    gap: 20px;
  }
  .nav__link__links a {
    font-size: 16px;
  }
  .nav__link--btn {
    padding: 12px 44px;
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .nav__wrap {
    justify-content: space-between;
  }
  .nav__link {
    margin: 0;
  }
  .nav__link__links {
    display: none;
  }
  .nav__link--btn {
    display: none;
  }
  .hiden--img {
    display: block;
    width: 30px;
    height: 17px;
  }
}
@media screen and (max-width: 767px) {
  .hiden--img {
    width: 42.353px;
    height: 24px;
  }
}
@media screen and (max-width: 575px) {
  .nav__titile {
    font-size: 24px;
  }
  .nav__titile span {
    font-size: 24px;
  }
  .hiden--img {
    width: 33px;
    height: 19px;
  }
}
.hero {
  margin-top: 115px;
  align-items: center;
}

.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__info--title {
  color: #000;
  max-width: 335px;
  font-size: 64px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.hero__info--text {
  max-width: 500px;
  color: #8F95A5;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 61px;
}

.hero__info--btn {
  padding: 16px 63px;
  border-radius: 5px;
  background: #263238;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 32px 116px;
  font-size: 36px;
}

@media screen and (max-width: 1200px) {
  .hero {
    margin-top: 81px;
  }
  .hero__img--img {
    width: 460px;
    height: 460px;
    object-fit: cover;
  }
  .hero__info--title {
    max-width: 292px;
    font-size: 48px;
    margin-bottom: 28px;
  }
  .hero__info--text {
    max-width: 350px;
    font-size: 20px;
    margin-bottom: 33px;
  }
  .hero__info--btn {
    font-size: 24px;
    padding: 22px 78px;
  }
}
@media screen and (max-width: 992px) {
  .hero {
    margin-top: 68px;
  }
  .hero__img--img {
    width: 352px;
    height: 352px;
    object-fit: cover;
  }
  .hero__info--title {
    margin-bottom: 25px;
    max-width: 217px;
    font-size: 36px;
  }
  .hero__info--text {
    max-width: 280px;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .hero__info--btn {
    font-size: 18px;
    padding: 19px 67px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    margin-top: 11px;
  }
  .hero__wrap {
    flex-direction: column-reverse;
  }
  .hero__img--img {
    width: 424px;
    height: 424px;
    object-fit: cover;
    margin: auto;
    display: block;
  }
  .hero__info--title {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    margin-bottom: 25px;
  }
  .hero__info--text {
    font-size: 16px;
    font-weight: 400px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 37px;
  }
  .hero__info--btn {
    padding: 24px 101px;
    font-weight: 500px;
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 575px) {
  .hero {
    margin-top: 29px;
  }
  .hero__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container {
    overflow: hidden;
  }
  .hero__img--img {
    width: 299px;
    height: 299px;
    object-fit: cover;
  }
  .hero__info--title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .hero__info--text {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .hero__info--btn {
    padding: 18px 99px;
  }
}
.sectio--title {
  max-width: 100%;
  text-align: center;
  margin-top: 101px;
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
}

@media screen and (max-width: 1200px) {
  .sectio--title {
    margin-top: 72px;
    font-size: 36px;
  }
}
@media screen and (max-width: 992px) {
  .sectio--title {
    margin-top: 56px;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .sectio--title {
    margin-top: 96px;
    font-size: 30px;
  }
}
@media screen and (max-width: 575px) {
  .sectio--title {
    margin-top: 51px;
    font-size: 24px;
  }
}
.about {
  margin-top: 131px;
}

.about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about--title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  margin-bottom: 23px;
}

.about--text {
  max-width: 635px;
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.about__rang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__rang__left {
  text-align: center;
}

.about__rang__left--title {
  color: #263238;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
}

.about__rang__left--text {
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
}

.hiden__title {
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px; /* 266.667% */
  display: none;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .about {
    margin-top: 100px;
  }
  .about--title {
    font-size: 36px;
    margin-bottom: 13px;
  }
  .about--text {
    max-width: 500px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .about__rang__left--title {
    font-size: 30px;
  }
  .about__rang__left--text {
    font-size: 16px;
  }
  .about--img {
    width: 336px;
    height: 336px;
    object-fit: cover;
  }
}
@media screen and (max-width: 992px) {
  .about {
    margin-top: 52px;
  }
  .about--title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .about--text {
    max-width: 300px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .about__rang__left--title {
    font-size: 22px;
  }
  .about__rang__left--text {
    font-size: 13px;
  }
  .about--img {
    width: 295px;
    height: 295px;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  .about {
    margin-top: 84px;
  }
  .about__wrap {
    flex-direction: column-reverse;
    position: relative;
  }
  .about--title {
    display: none;
  }
  .about--text {
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .about__rang__left--title {
    font-size: 24px;
  }
  .about__rang__left--text {
    font-size: 14px;
  }
  .about--img {
    margin-top: 30px;
    width: 352px;
    height: 352px;
    object-fit: cover;
  }
  .hiden__title {
    display: block;
    text-align: center;
    position: absolute;
    top: -25px;
  }
}
@media screen and (max-width: 575px) {
  .about {
    margin-top: 50px;
  }
  .about--text {
    max-width: 100%;
    margin-top: 23px;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .about__rang {
    flex-direction: column;
    gap: 23px;
  }
  .about__rang__left--title {
    font-size: 24px;
    height: 70px;
  }
  .about__rang__left--text {
    font-size: 13px;
  }
  .about--img {
    margin-top: 30px;
    width: 352px;
    height: 352px;
    object-fit: cover;
  }
  .hiden__title {
    display: block;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: -25px;
  }
}
.pricing {
  margin-top: 57px;
}

.pricing__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing__cards__1--img {
  width: 311px;
  height: 311px;
  object-fit: cover;
  margin-bottom: 11px;
}

.pricing__cards__1--title {
  color: #263238;
  font-size: 30px;
  font-weight: 600; /* 160% */
  margin-bottom: 19px;
}

.pricing__cards__1--text {
  max-width: 390px;
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 29px;
}

.pricing__cards__1__price {
  border-radius: 5px;
  background: #eee;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pricing__cards__1__price--narx {
  color: #263238;
  font-size: 30px;
  font-weight: 400;
}

.pricing__cards__1__price--month {
  color: #546269;
  font-size: 18px;
  font-weight: 400;
}

.pricing__cards__2--img {
  width: 391px;
  height: 283px;
  object-fit: cover;
  margin-bottom: 42px;
}

.pricing__cards__2--title {
  color: #263238;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 23px;
}

.pricing__cards__2--text {
  max-width: 367px;
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 59px;
}

.pricing__cards__3--title {
  color: #263238;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.pricing__cards__3--text {
  max-width: 400px;
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 59px;
}

.pricing__cards__3--img {
  width: 340px;
  height: 340px;
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .pricing {
    margin-top: 21px;
  }
  .pricing__cards__1--img {
    width: 222px;
    height: 222px;
    object-fit: cover;
    margin-bottom: 11px;
  }
  .pricing__cards__1--title {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .pricing__cards__1--text {
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 31px;
  }
  .pricing__cards__1__price {
    max-width: 205px;
  }
  .pricing__cards__1__price--narx {
    font-size: 24px;
  }
  .pricing__cards__1__price--month {
    font-size: 16px;
  }
  .pricing__cards__2--img {
    width: 267px;
    height: 195px;
    object-fit: cover;
    margin-bottom: 33px;
  }
  .pricing__cards__2--title {
    font-size: 22px;
    margin-bottom: 9px;
  }
  .pricing__cards__2--text {
    max-width: 230px;
    font-size: 16px;
    margin-bottom: 58px;
  }
  .pricing__cards__3--img {
    width: 242px;
    height: 242px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .pricing__cards__3--title {
    font-size: 22px;
    margin-bottom: 1px;
  }
  .pricing__cards__3--text {
    max-width: 230px;
    font-size: 16px;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 992px) {
  .pricing {
    margin-top: 31px;
  }
  .pricing__cards__1--img {
    width: 197px;
    height: 197px;
    object-fit: cover;
  }
  .pricing__cards__1--title {
    font-size: 20px;
    max-width: 150px;
  }
  .pricing__cards__1--text {
    max-width: 180px;
    font-size: 14px;
  }
  .pricing__cards__1__price {
    max-width: 205px;
  }
  .pricing__cards__1__price--narx {
    font-size: 22px;
  }
  .pricing__cards__1__price--month {
    font-size: 14px;
  }
  .pricing__cards__2--img {
    width: 219px;
    height: 168px;
    object-fit: cover;
  }
  .pricing__cards__2--title {
    font-size: 20px;
    max-width: 150px;
    margin-bottom: 20px;
  }
  .pricing__cards__2--text {
    max-width: 170px;
    font-size: 14px;
    margin-bottom: 48px;
  }
  .pricing__cards__3--img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .pricing__cards__3--title {
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 150px;
  }
  .pricing__cards__3--text {
    max-width: 150px;
    font-size: 14px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  .pricing {
    margin-top: 54px;
  }
  .pricing__cards {
    flex-direction: column;
    gap: 71px;
  }
  .pricing__cards__1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing__cards__1--img {
    width: 291px;
    height: 291px;
    object-fit: cover;
  }
  .pricing__cards__1--title {
    font-size: 24px;
    max-width: 279px;
    text-align: center;
  }
  .pricing__cards__1--text {
    max-width: 350px;
    font-size: 14px;
    text-align: center;
  }
  .pricing__cards__1__price {
    max-width: 205px;
  }
  .pricing__cards__1__price--narx {
    font-size: 22px;
  }
  .pricing__cards__1__price--month {
    font-size: 14px;
  }
  .pricing__cards__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__2--img {
    width: 314px;
    height: 241px;
    object-fit: cover;
  }
  .pricing__cards__2--title {
    font-size: 24px;
    max-width: 250px;
  }
  .pricing__cards__2--text {
    max-width: 290px;
    font-size: 14px;
    text-align: center;
  }
  .pricing__cards__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__3--img {
    width: 253px;
    height: 253px;
    object-fit: cover;
  }
  .pricing__cards__3--title {
    font-size: 24px;
    max-width: 250px;
  }
  .pricing__cards__3--text {
    max-width: 350px;
    font-size: 14px;
    margin-bottom: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .pricing {
    margin-top: 49px;
  }
  .pricing__cards {
    flex-direction: column;
    gap: 63px;
  }
  .pricing__cards__1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing__cards__1--img {
    width: 248px;
    height: 248px;
    object-fit: cover;
  }
  .pricing__cards__1--title {
    font-size: 18px;
    max-width: 250px;
    text-align: center;
  }
  .pricing__cards__1--text {
    max-width: 250px;
    font-size: 13px;
    text-align: center;
  }
  .pricing__cards__1__price {
    max-width: 170px;
    padding: 5px 10px;
  }
  .pricing__cards__1__price--narx {
    font-size: 18px;
  }
  .pricing__cards__1__price--month {
    font-size: 14px;
  }
  .pricing__cards__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__2--img {
    width: 257px;
    height: 197px;
    object-fit: cover;
  }
  .pricing__cards__2--title {
    font-size: 18px;
    max-width: 200px;
  }
  .pricing__cards__2--text {
    max-width: 220px;
    font-size: 14px;
    text-align: center;
  }
  .pricing__cards__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__3--img {
    width: 241px;
    height: 241px;
    object-fit: cover;
  }
  .pricing__cards__3--title {
    font-size: 18px;
    max-width: 200px;
  }
  .pricing__cards__3--text {
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 24px;
    text-align: center;
  }
}
.contact {
  margin-top: 261px;
}

.contact__wrap {
  display: flex;
  justify-content: space-between;
}

.contact--hiden {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  display: none;
  text-align: center;
}

.contact--img {
  width: 477px;
  height: 429px;
  object-fit: cover;
}

.contact--title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 37px;
}

.contact--text {
  width: 676px;
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 52px;
}

.contact__inputs {
  display: flex;
  gap: 12px;
}

.contact--email {
  padding: 25px 130px 25px 33px;
  border-radius: 10px;
  border: 1px solid #8F95A5;
  color: #8F95A5;
  font-size: 16px;
  font-weight: 400;
}

.contact--btn {
  cursor: pointer;
  padding: 25px 81px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background: #263238;
}

@media screen and (max-width: 1200px) {
  .contact {
    margin-top: 140px;
  }
  .contact--img {
    width: 312px;
    height: 281px;
    object-fit: cover;
  }
  .contact--title {
    font-size: 36px;
    margin-bottom: 3px;
  }
  .contact--text {
    font-size: 16px;
    margin-bottom: 34px;
    max-width: 400px;
  }
  .contact--email {
    padding: 20px 80px 20px 28px;
    font-size: 14px;
  }
  .contact--btn {
    padding: 20px 56px;
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .contact {
    margin-top: 65px;
  }
  .contact--img {
    width: 233px;
    height: 210px;
    object-fit: cover;
  }
  .contact--title {
    font-size: 30px;
    margin-bottom: 3px;
  }
  .contact--text {
    font-size: 13px;
    margin-bottom: 26px;
    max-width: 300px;
  }
  .contact--email {
    padding: 15px 60px 16px 24px;
    font-size: 12px;
  }
  .contact--btn {
    padding: 16px 40px;
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 163px;
  }
  .contact__wrap {
    flex-direction: column;
    align-items: center;
  }
  .contact--hiden {
    display: block;
    margin-bottom: 80px;
  }
  .contact--img {
    width: 358px;
    height: 322px;
    object-fit: cover;
    margin-bottom: 34px;
  }
  .contact--title {
    display: none;
  }
  .contact--text {
    font-size: 16px;
    margin-bottom: 60px;
    max-width: 476px;
    text-align: center;
  }
  .contact__inputs {
    gap: 5px;
    justify-content: center;
  }
  .contact--email {
    padding: 20px 120px 20px 25px;
    font-size: 12px;
  }
  .contact--btn {
    padding: 20px 56px;
    font-size: 13px;
  }
}
@media screen and (max-width: 575px) {
  .contact {
    margin-top: 72px;
  }
  .contact--hiden {
    font-size: 24px;
    margin-bottom: 38px;
  }
  .contact--img {
    width: 253px;
    height: 228px;
    object-fit: cover;
    margin-bottom: 38px;
  }
  .contact--text {
    font-size: 14px;
    max-width: 276px;
    margin: 0 auto;
  }
  .contact__inputs {
    margin-top: 31px;
    flex-direction: column;
    gap: 17px;
  }
  .contact--email {
    padding: 20px 109px 20px 24px;
    font-size: 12px;
  }
  .contact--btn {
    padding: 20px 109px;
    font-size: 14px;
  }
}
.footer {
  margin-top: 132px;
}

.footer--line {
  height: 2px;
  background: #c4c4c4;
  margin-bottom: 31px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer--title {
  color: #000;
  font-size: 36px;
  font-weight: 400;
}
.footer--title span {
  color: #939393;
  font-size: 36px;
  font-weight: 400;
}

.footer--text {
  color: #8f95a5;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin-top: 157px;
  }
  .footer--line {
    margin-bottom: 22px;
  }
  .footer--title {
    font-size: 30px;
  }
  .footer--title span {
    font-size: 30px;
  }
  .footer--text {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .footer {
    margin-top: 112px;
  }
  .footer--line {
    margin-bottom: 18px;
  }
  .footer--title {
    font-size: 30px;
  }
  .footer--title span {
    font-size: 30px;
  }
  .footer--text {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 144px;
  }
  .footer--line {
    margin-bottom: 24px;
  }
  .footer--title {
    font-size: 30px;
  }
  .footer--title span {
    font-size: 30px;
  }
  .footer--text {
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .footer {
    margin-top: 57px;
  }
  .footer--line {
    margin-bottom: 26px;
  }
  .footer__info {
    flex-direction: column;
    align-items: center;
    gap: 15;
  }
  .footer--title {
    font-size: 24px;
    text-align: center;
  }
  .footer--title span {
    font-size: 24px;
    text-align: center;
  }
  .footer--text {
    font-size: 11px;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
