*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a,input,ul,li,button{
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    list-style-type: none;
}
.container{
    max-width: 1368px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}