.about {
  margin-top: 131px;
}
.about__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about--title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
  margin-bottom: 23px;
}
.about--text {
  max-width: 635px;
  color: $grey;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
.about__rang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__rang__left {
  text-align: center;
}
.about__rang__left--title {
  color: $black;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
}
.about__rang__left--text {
  color: $grey;
  font-size: 20px;
  font-weight: 400;
}
.hiden__title {
  width: 100%;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 80px; /* 266.667% */
  display: none;
  //   text-align: center;
  margin: auto;
}
// media quary
@media screen and (max-width: 1200px) {
  .about {
    margin-top: 100px;
  }
  // about title
  .about--title {
    font-size: 36px;
    margin-bottom: 13px;
  }
  // about text
  .about--text {
    max-width: 500px;
    margin-bottom: 0;
    font-size: 16px;
  }
  // rang
  .about__rang__left--title {
    font-size: 30px;
  }
  .about__rang__left--text {
    font-size: 16px;
  }
  //   about--img
  .about--img {
    width: 336px;
    height: 336px;
    object-fit: cover;
  }
}
@media screen and (max-width: 992px) {
  .about {
    margin-top: 52px;
  }
  // about title
  .about--title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  // about text
  .about--text {
    max-width: 300px;
    margin-bottom: 0;
    font-size: 14px;
  }
  // rang
  .about__rang__left--title {
    font-size: 22px;
  }
  .about__rang__left--text {
    font-size: 13px;
  }
  //   about--img
  .about--img {
    width: 295px;
    height: 295px;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  .about {
    margin-top: 84px;
  }
  //   about wrap
  .about__wrap {
    flex-direction: column-reverse;
    position: relative;
  }
  // about title
  .about--title {
    display: none;
  }
  // about text
  .about--text {
    max-width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  // rang
  .about__rang__left--title {
    font-size: 24px;
  }
  .about__rang__left--text {
    font-size: 14px;
  }
  //   about--img
  .about--img {
    margin-top: 30px;
    width: 352px;
    height: 352px;
    object-fit: cover;
  }
  .hiden__title {
    display: block;
    text-align: center;
    position: absolute;
    top: -25px;
  }
}
@media screen and (max-width: 575px) {
  .about {
    margin-top: 50px;
  }
  // about text
  .about--text {
    max-width: 100%;
    margin-top: 23px;
    margin-bottom: 10px;
    font-size: 13px;
  }
  //   about left
  .about__rang {
    flex-direction: column;
    gap: 23px;
  }
  // rang
  .about__rang__left--title {
    font-size: 24px;
    height: 70px;
  }
  .about__rang__left--text {
    font-size: 13px;
  }
  //   about--img
  .about--img {
    margin-top: 30px;
    width: 352px;
    height: 352px;
    object-fit: cover;
  }
  .hiden__title {
    display: block;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: -25px;
  }
}
