.contact {
  margin-top: 261px;
}
.contact__wrap {
  display: flex;
  justify-content: space-between;
}
.contact--hiden {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  display: none;
  text-align: center;
}
.contact--img {
  width: 477px;
  height: 429px;
  object-fit: cover;
}
.contact--title {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 37px;
}
.contact--text {
  width: 676px;
  color: $grey;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 52px;
}
.contact__inputs {
  display: flex;
  gap: 12px;
}
.contact--email {
  padding: 25px 130px 25px 33px;
  border-radius: 10px;
  border: 1px solid $grey;
  color: $grey;
  font-size: 16px;
  font-weight: 400;
}
.contact--btn {
  cursor: pointer;
  padding: 25px 81px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background: $black;
}
// media quary
@media screen and (max-width: 1200px) {
  .contact {
    margin-top: 140px;
  }
  .contact--img {
    width: 312px;
    height: 281px;
    object-fit: cover;
  }
  .contact--title {
    font-size: 36px;
    margin-bottom: 3px;
  }
  .contact--text{
    font-size: 16px;
    margin-bottom: 34px;
    max-width: 400px;
  }
  .contact--email{
    padding: 20px 80px 20px 28px;
    font-size: 14px;
  }
  .contact--btn{
    padding: 20px 56px;
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
    .contact {
        margin-top: 65px;
      }
      .contact--img {
        width: 233px;
        height: 210px;
        object-fit: cover;
      }
      .contact--title {
        font-size: 30px;
        margin-bottom: 3px;
      }
      .contact--text{
        font-size: 13px;
        margin-bottom: 26px;
        max-width: 300px;
      }
      .contact--email{
        padding: 15px 60px 16px 24px;
        font-size: 12px;
      }
      .contact--btn{
        padding: 16px 40px;
        font-size: 13px;
      } 
}
@media screen and (max-width: 767px) {
    .contact {
        margin-top: 163px;
      }
      .contact__wrap{
        flex-direction: column;
        align-items: center;
      }
      .contact--hiden{
        display: block;
        margin-bottom: 80px;
      }
      .contact--img {
        width: 358px;
        height: 322px;
        object-fit: cover;
        margin-bottom: 34px;
      }
      .contact--title {
        display: none;
      }
      .contact--text{
        font-size: 16px;
        margin-bottom: 60px;
        max-width: 476px;
        text-align: center;
      }
      .contact__inputs{
        gap: 5px;
        justify-content: center;
      }
      .contact--email{
        padding: 20px 120px 20px 25px;
        font-size: 12px;
      }
      .contact--btn{
        padding: 20px 56px;
        font-size: 13px;
      } 
}
@media screen and (max-width: 575px) {

.contact {
    margin-top: 72px;
  }
  .contact--hiden{
    font-size: 24px;
    margin-bottom: 38px;
  }
  .contact--img {
    width: 253px;
    height: 228px;
    object-fit: cover;
    margin-bottom: 38px;
  }
  .contact--text{
    font-size: 14px;
    max-width: 276px;
    margin: 0 auto;
    // text-align: center;
  }
  .contact__inputs{
    margin-top: 31px;
    flex-direction: column;
    gap: 17px;
  }
  .contact--email{
    padding: 20px 109px 20px 24px;
    font-size: 12px;
  }
  .contact--btn{
    padding: 20px 109px;
    font-size: 14px;
  } 
}
