.footer {
  margin-top: 132px;
}
.footer--line {
  height: 2px;
  background: #c4c4c4;
  margin-bottom: 31px;
}
.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer--title {
  color: #000;
  font-size: 36px;
  font-weight: 400;
  span {
    color: #939393;
    font-size: 36px;
    font-weight: 400;
  }
}
.footer--text {
  color: #8f95a5;
  font-size: 24px;
  font-weight: 400;
}
// media quary 
@media screen and (max-width: 1200px) {
    .footer {
        margin-top: 157px;
      }
      .footer--line{
        margin-bottom: 22px;
      }
      .footer--title{
        font-size: 30px;
        span{
            font-size: 30px;
        }
      }
      .footer--text{
        font-size: 16px;
      }
  }
  @media screen and (max-width: 992px) {
    .footer {
        margin-top: 112px;
      }
      .footer--line{
        margin-bottom: 18px;
      }
      .footer--title{
        font-size: 30px;
        span{
            font-size: 30px;
        }
      }
      .footer--text{
        font-size: 13px;
      }
  }
  @media screen and (max-width: 767px) {
    .footer {
        margin-top: 144px;
      }
      .footer--line{
        margin-bottom: 24px;
      }
      .footer--title{
        font-size: 30px;
        span{
            font-size: 30px;
        }
      }
      .footer--text{
        font-size: 12px;
      }
  }
  @media screen and (max-width: 575px) {
    .footer {
        margin-top: 57px;
      }
      .footer--line{
        margin-bottom: 26px;
       
      }
      .footer__info{
        flex-direction: column;
        align-items: center;
        gap: 15;
      }
      .footer--title{
        font-size: 24px;
        text-align: center;
        span{
            font-size: 24px;
            text-align: center;
        }
      }
      .footer--text{
        font-size: 11px;
        text-align: center;
      }
  }
  
