.hero {
  margin-top: 115px;
  align-items: center;
}
.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-wrap: wrap;
}
.hero__info--title {
  color: #000;
  max-width: 335px;
  font-size: 64px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.hero__info--text {
  max-width: 500px;
  color: $grey;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 61px;
}
.hero__info--btn {
  @include btn();
  padding: 32px 116px;
  font-size: 36px;
}
// hero media
@media screen and (max-width: 1200px) {
  // hero img
  .hero {
    margin-top: 81px;
  }
  .hero__img--img {
    width: 460px;
    height: 460px;
    object-fit: cover;
  }
  //   hero title
  .hero__info--title {
    max-width: 292px;
    font-size: 48px;
    margin-bottom: 28px;
  }
  //   hero text
  .hero__info--text {
    max-width: 350px;
    font-size: 20px;
    margin-bottom: 33px;
  }
  //   hero btn
  .hero__info--btn {
    font-size: 24px;
    padding: 22px 78px;
  }
}
@media screen and (max-width: 992px) {
  // hero
  .hero {
    margin-top: 68px;
  }
  // hero img--img
  .hero__img--img {
    width: 352px;
    height: 352px;
    object-fit: cover;
  }
  //   hero title
  .hero__info--title {
    margin-bottom: 25px;
    max-width: 217px;
    font-size: 36px;
  }
  // hero text
  .hero__info--text {
    max-width: 280px;
    font-size: 16px;
    margin-bottom: 32px;
  }
  //   hero btn
  .hero__info--btn {
    font-size: 18px;
    padding: 19px 67px;
  }
}
@media screen and (max-width: 767px) {
  // hero
  .hero {
    margin-top: 11px;
  }
  // hero wrap
  .hero__wrap {
    flex-direction: column-reverse;
  }
  // hero img
  .hero__img--img {
    width: 424px;
    height: 424px;
    object-fit: cover;
    margin: auto;
    display: block;
  }
  // hero info

  // hero title
  .hero__info--title {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    margin-bottom: 25px;
  }
  // hero text
  .hero__info--text {
    font-size: 16px;
    font-weight: 400px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 37px;
  }
  //   hero btn
  .hero__info--btn {
    padding: 24px 101px;
    font-weight: 500px;
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 575px) {
  // hero
  .hero {
    margin-top: 29px;
  }
  .hero__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
  .container{
    overflow: hidden;
  }
  // hero img
  .hero__img--img {
    width: 299px;
    height: 299px;
    object-fit: cover;
  }
  // hero title
  .hero__info--title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  // hero text
  .hero__info--text {
    font-size: 14px;
    margin-bottom: 35px;
  }
  //   hero btn
  .hero__info--btn {
   padding: 18px 99px;
  }
}
