.nav__wrap {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}
.nav__titile {
  color: #000;
  font-size: 36px;
  font-weight: 400;
  span {
    color: $grey;
    font-size: 36px;
    font-weight: 400;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 240px;
}
.nav__link__links {
  display: flex;
  align-items: center;
  gap: 30px;
  a {
    color: $black;
    font-size: 20px;
    font-weight: 500;
  }
}
.nav__link--btn {
  padding: 17px 54px;
  border-radius: 5px;
  border: 2px solid $black;
  cursor: pointer;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
// hiden burger menu
.hiden--img {
  display: none;
  cursor: pointer;
}
// media quary navbar
@media screen and (max-width: 1200px) {
  // nav__wrap gap =168px
  // .nav__wrap {
  //     gap: 168px;
  //   }
  //  nav link gap 140px
  .nav__link {
    margin-left: 168px;
    gap: 140px;
  }
  // nav links fn-sz16px,gap20px
  .nav__link__links {
    gap: 20px;
    a {
      font-size: 16px;
    }
  }
  //   nav btn pading
  .nav__link--btn {
    padding: 12px 44px;
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  // naw wrap
  .nav__wrap {
    justify-content: space-between;
  }
  //   nav link
  .nav__link {
    margin: 0;
  }
  //   nav  links a
  .nav__link__links {
    display: none;
  }
  //   nav btn
  .nav__link--btn {
    display: none;
  }
  //   hiden
  .hiden--img {
    display: block;
    width: 30px;
    height: 17px;
  }
}
@media screen and (max-width: 767px) {
  // navbar
  .hiden--img {
    width: 42.353px;
    height: 24px;
  }
}
@media screen and (max-width: 575px) {
  // navbar
  .nav__titile{
    font-size: 24px;
    span{
        font-size: 24px;
    }
  }
  .hiden--img {
    width: 33px;
    height: 19px;
  }
}
