.pricing {
  margin-top: 57px;
}
.pricing__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pricing__cards__1--img {
  width: 311px;
  height: 311px;
  object-fit: cover;
  margin-bottom: 11px;
}
.pricing__cards__1--title {
  color: $black;
  font-size: 30px;
  font-weight: 600; /* 160% */
  margin-bottom: 19px;
}
.pricing__cards__1--text {
  max-width: 390px;
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 29px;
}
.pricing__cards__1__price {
  border-radius: 5px;
  background: #eee;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pricing__cards__1__price--narx {
  color: $black;
  font-size: 30px;
  font-weight: 400;
}
.pricing__cards__1__price--month {
  color: #546269;
  font-size: 18px;
  font-weight: 400;
}
.pricing__cards__2--img {
  width: 391px;
  height: 283px;
  object-fit: cover;
  margin-bottom: 42px;
}
.pricing__cards__2--title {
  color: $black;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 23px;
}
.pricing__cards__2--text {
  max-width: 367px;
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 59px;
}
.pricing__cards__3--title {
  color: $black;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.pricing__cards__3--text {
  max-width: 400px;
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 59px;
}
.pricing__cards__3--img {
  width: 340px;
  height: 340px;
  margin-bottom: 0;
}
// media quary
@media screen and (max-width: 1200px) {
  // pricing__cards-1
  .pricing {
    margin-top: 21px;
  }
  .pricing__cards__1--img {
    width: 222px;
    height: 222px;
    object-fit: cover;
    margin-bottom: 11px;
  }
  .pricing__cards__1--title {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .pricing__cards__1--text {
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 31px;
  }
  .pricing__cards__1__price {
    max-width: 205px;
  }
  .pricing__cards__1__price--narx {
    font-size: 24px;
  }
  .pricing__cards__1__price--month {
    font-size: 16px;
  }
  // pricing__cards-2
  .pricing__cards__2--img {
    width: 267px;
    height: 195px;
    object-fit: cover;
    margin-bottom: 33px;
  }
  .pricing__cards__2--title {
    font-size: 22px;
    margin-bottom: 9px;
  }
  .pricing__cards__2--text {
    max-width: 230px;
    font-size: 16px;
    margin-bottom: 58px;
  }
  // pricing__cards-2
  .pricing__cards__3--img {
    width: 242px;
    height: 242px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .pricing__cards__3--title {
    font-size: 22px;
    margin-bottom: 1px;
  }
  .pricing__cards__3--text {
    max-width: 230px;
    font-size: 16px;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 992px) {
  // pricing__cards-1
  .pricing {
    margin-top: 31px;
  }
  .pricing__cards__1--img {
    width: 197px;
    height: 197px;
    object-fit: cover;
  }
  .pricing__cards__1--title {
    font-size: 20px;
    max-width: 150px;
  }
  .pricing__cards__1--text {
    max-width: 180px;
    font-size: 14px;
  }
  .pricing__cards__1__price {
    max-width: 205px;
  }
  .pricing__cards__1__price--narx {
    font-size: 22px;
  }
  .pricing__cards__1__price--month {
    font-size: 14px;
  }
  // pricing__cards-2
  .pricing__cards__2--img {
    width: 219px;
    height: 168px;
    object-fit: cover;
  }
  .pricing__cards__2--title {
    font-size: 20px;
    max-width: 150px;
    margin-bottom: 20px;
  }
  .pricing__cards__2--text {
    max-width: 170px;
    font-size: 14px;
    margin-bottom: 48px;
  }
  // pricing__cards-2
  .pricing__cards__3--img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .pricing__cards__3--title {
    font-size: 20px;
    margin-bottom: 15px;
    max-width: 150px;
  }
  .pricing__cards__3--text {
    max-width: 150px;
    font-size: 14px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  // pricing__cards-1
  .pricing {
    margin-top: 54px;
  }
  .pricing__cards {
    flex-direction: column;
    gap: 71px;
  }
  .pricing__cards__1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing__cards__1--img {
    width: 291px;
    height: 291px;
    object-fit: cover;
  }
  .pricing__cards__1--title {
    font-size: 24px;
    max-width: 279px;
    text-align: center;
  }
  .pricing__cards__1--text {
    max-width: 350px;
    font-size: 14px;
    text-align: center;
  }
  .pricing__cards__1__price {
    max-width: 205px;
  }
  .pricing__cards__1__price--narx {
    font-size: 22px;
  }
  .pricing__cards__1__price--month {
    font-size: 14px;
  }
  // pricing__cards-2
  .pricing__cards__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__2--img {
    width: 314px;
    height: 241px;
    object-fit: cover;
  }
  .pricing__cards__2--title {
    font-size: 24px;
    max-width: 250px;
  }
  .pricing__cards__2--text {
    max-width: 290px;
    font-size: 14px;
    text-align: center;
  }
  // pricing__cards-2
  .pricing__cards__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__3--img {
    width: 253px;
    height: 253px;
    object-fit: cover;
  }
  .pricing__cards__3--title {
    font-size: 24px;
    max-width: 250px;
  }
  .pricing__cards__3--text {
    max-width: 350px;
    font-size: 14px;
    margin-bottom: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  // pricing__cards-1
  .pricing {
    margin-top: 49px;
  }
  .pricing__cards {
    flex-direction: column;
    gap: 63px;
  }
  .pricing__cards__1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing__cards__1--img {
    width: 248px;
    height: 248px;
    object-fit: cover;
  }
  .pricing__cards__1--title {
    font-size: 18px;
    max-width: 250px;
    text-align: center;
  }
  .pricing__cards__1--text {
    max-width: 250px;
    font-size: 13px;
    text-align: center;
  }
  .pricing__cards__1__price {
    max-width: 170px;
    padding: 5px 10px;
  }
  .pricing__cards__1__price--narx {
    font-size: 18px;
  }
  .pricing__cards__1__price--month {
    font-size: 14px;
  }
  // pricing__cards-2
  .pricing__cards__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__2--img {
    width: 257px;
    height: 197px;
    object-fit: cover;
  }
  .pricing__cards__2--title {
    font-size: 18px;
    max-width: 200px;
  }
  .pricing__cards__2--text {
    max-width: 220px;
    font-size: 14px;
    text-align: center;
  }
  // pricing__cards-2
  .pricing__cards__3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pricing__cards__3--img {
    width: 241px;
    height: 241px;
    object-fit: cover;
  }
  .pricing__cards__3--title {
    font-size: 18px;
    max-width: 200px;
  }
  .pricing__cards__3--text {
    max-width: 300px;
    font-size: 14px;
    margin-bottom: 24px;
    text-align: center;
  }
}
