.sectio--title {
  max-width: 100%;
  text-align: center;
  margin-top: 101px;
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px; /* 166.667% */
}
// media quary 
@media screen and (max-width: 1200px) {
    .sectio--title{
        margin-top: 72px;
        font-size: 36px;
    }
  }
  @media screen and (max-width: 992px) {
    .sectio--title{
        margin-top: 56px;
        font-size: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    .sectio--title{
        margin-top: 96px;
        font-size: 30px;
    }
  }
  @media screen and (max-width: 575px) {
    .sectio--title{
        margin-top: 51px;
        font-size: 24px;
    }
  }
  